body {
    font-family: Arial, sans-serif;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-content:end;
}

input {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

button {
    padding: 10px;
    background-color: #508c9b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3a6874;
}

.color-code {
    margin-top: 20px;
    height: 50px;
    border: 5px solid #508c9b;
}

h1{
    color: #3a6874;
}

h2{
    color: #201e43;
}

